In [1]:
import rpy2
import rpy2.robjects as robjects
import rpy2.robjects.packages as rpackages

from rpy2.robjects import numpy2ri, pandas2ri
#numpy2ri.activate()
#pandas2ri.activate()

#numpy2ri.deactivate()
#pandas2ri.deactivate()

print(rpy2.__version__)

robjects.r('''

library(MetENP)

''')

#bring this variable into R
#r['study_id'] = {{ study_id }}
#r('head(study_id)')

3.4.2

<rpy2.robjects.vectors.StrVector object at 0x7feb3c705ac0> [RTYPES.STRSXP]
R classes: ('character',)
['MetENP', 'tools', 'stats', 'graphics', ..., 'utils', 'datasets', 'methods', 'base']

In [2]:
data_1 = robjects.r['getmwstudies']('ST000915', 
    'data'
)

In [3]:
#TODO: outputs are not the same type as the original vignette
robjects.r['head'](data_1)

<rpy2.robjects.vectors.DataFrame object at 0x7feb3c748880> [RTYPES.VECSXP]
R classes: ('tbl_df', 'tbl', 'data.frame')
[ListSexpV..., ListSexpV..., ListSexpV..., ListSexpV..., ..., StrSexpVe..., StrSexpVe..., StrSexpVe..., StrSexpVe...]
<rpy2.robjects.vectors.DataFrame object at 0x7feb3c748880> [RTYPES.VECSXP]
R classes: ('tbl_df', 'tbl', 'data.frame')
[ListSexpV..., ListSexpV..., ListSexpV..., ListSexpV..., ..., StrSexpVe..., StrSexpVe..., StrSexpVe..., StrSexpVe...]
<rpy2.robjects.vectors.DataFrame object at 0x7feb3c748880> [RTYPES.VECSXP]
R classes: ('tbl_df', 'tbl', 'data.frame')
[ListSexpV..., ListSexpV..., ListSexpV..., ListSexpV..., ..., StrSexpVe..., StrSexpVe..., StrSexpVe..., StrSexpVe...]
<rpy2.robjects.vectors.DataFrame object at 0x7feb3c748880> [RTYPES.VECSXP]
R classes: ('tbl_df', 'tbl', 'data.frame')
[ListSexpV..., ListSexpV..., ListSexpV..., ListSexpV..., ..., StrSexpVe..., StrSexpVe..., StrSexpVe..., StrSexpVe...]
<rpy2.robjects.vectors.DataFrame object at 0x7feb3c748880> [RTYPES.VECSXP]
R classes: ('tbl_df', 'tbl', 'data.frame')
[ListSexpV..., ListSexpV..., ListSexpV..., ListSexpV..., ..., StrSexpVe..., StrSexpVe..., StrSexpVe..., StrSexpVe...]
...
  NASH001: <class 'rpy2.robjects.vectors.StrVector'>
  <rpy2.robjects.vectors.StrVector object at 0x7feb40bf4fc0> [RTYPES.STRSXP]
R classes: ('character',)
[NA_character_, '0.24..., '0.10..., NA_character_, '0.01..., '0.03...]
  NASH002: <class 'rpy2.robjects.vectors.StrVector'>
  <rpy2.robjects.vectors.StrVector object at 0x7feb40bffa40> [RTYPES.STRSXP]
R classes: ('character',)
[NA_character_, '0.25..., '0.05..., '0.00..., '0.01..., '0.00...]
  NASH003: <class 'rpy2.robjects.vectors.StrVector'>
  <rpy2.robjects.vectors.StrVector object at 0x7feb40bff0c0> [RTYPES.STRSXP]
R classes: ('character',)
[NA_character_, '0.03..., '0.08..., NA_character_, '0.00..., '0.00...]
  NASH004: <class 'rpy2.robjects.vectors.StrVector'>
  <rpy2.robjects.vectors.StrVector object at 0x7feb40bff440> [RTYPES.STRSXP]
R classes: ('character',)
[NA_character_, '0.05..., '0.10..., NA_character_, '0.01..., '0.01...]

In [4]:
robjects.r['is.data.frame'](data_1)
#print(type(data_1))

<rpy2.robjects.vectors.BoolVector object at 0x7feb289c3980> [RTYPES.LGLSXP]
R classes: ('logical',)
[       1]

In [5]:
metadata = robjects.r['getmwstudies']('ST000915', 
    'factors'
)

In [6]:
robjects.r['head'](metadata)

<rpy2.robjects.vectors.DataFrame object at 0x7feb289c7e40> [RTYPES.VECSXP]
R classes: ('data.frame',)
[ListSex..., ListSex..., ListSex..., ListSex..., StrSexp...]
  study_id: <class 'rpy2.rinterface.ListSexpVector'>
  <rpy2.rinterface.ListSexpVector object at 0x7feb289cd280> [RTYPES.VECSXP]
  local_sample_id: <class 'rpy2.rinterface.ListSexpVector'>
  <rpy2.rinterface.ListSexpVector object at 0x7feb289cd580> [RTYPES.VECSXP]
  subject_type: <class 'rpy2.rinterface.ListSexpVector'>
  <rpy2.rinterface.ListSexpVector object at 0x7feb289cd740> [RTYPES.VECSXP]
  factors: <class 'rpy2.rinterface.ListSexpVector'>
  <rpy2.rinterface.ListSexpVector object at 0x7feb289cd8c0> [RTYPES.VECSXP]
  Diagnosis: <class 'rpy2.rinterface_lib.sexp.StrSexpVector'>
  <rpy2.rinterface_lib.sexp.StrSexpVector object at 0x7feb289cda40> [RTYPES.STRSXP]

Find the factors you would want to compare
Multiple factors (independent variables) are formatted in multiple columns but you can get information on all the factors by "factors" column, such as 'TreatmentGroup:Prednisolone', this indicates column name 'TreatmentGroup' with factor Prednisolone. For t-test use the factors in the same column. For comparing multipe independent variables use anova by anova_ana function.

### Associate metabolomics data to the refmet class

In [7]:
refmet_class = convert_refmet(data_1)

NameError: name 'convert_refmet' is not defined

In [ ]:
normtype = ['50percent']
normtype

In [ ]:
pthres = '0.05'
pthres = float(pthres)
pthres

In [ ]:
thres_log2foldchange = '0.5'
thres_log2foldchange = float(thres_log2foldchange)
thres_log2foldchange

In [ ]:
thres_log2foldchange_countclass = '0.5'
thres_log2foldchange_countclass = float(thres_log2foldchange_countclass)
thres_log2foldchange_countclass

In [ ]:
sigmets = 3
sigmets

In [ ]:
x_size_heat = 8
x_size_heat

In [ ]:
y_size_heat = 6
y_size_heat

In [ ]:
x_size_dot = 8
x_size_dot

In [ ]:
y_size_dot = 6
y_size_dot