In [1]:
import rpy2
import rpy2.robjects as robjects
import rpy2.robjects.packages as rpackages

from rpy2.robjects import numpy2ri, pandas2ri
#numpy2ri.activate()
#pandas2ri.activate()

#numpy2ri.deactivate()
#pandas2ri.deactivate()

print(rpy2.__version__)

robjects.r('''

library(MetENP)

''')

#bring this variable into R
#r['study_id'] = {{ study_id }}
#r('head(study_id)')

3.4.2

<rpy2.robjects.vectors.StrVector object at 0x7fe8d21a4f80> [RTYPES.STRSXP]
R classes: ('character',)
['MetENP', 'tools', 'stats', 'graphics', ..., 'utils', 'datasets', 'methods', 'base']

In [2]:
data_1 = robjects.r['getmwstudies']('ST000915', 
    'data'
)

In [3]:
#TODO: outputs are not the same type as the original vignette
robjects.r['head'](data_1)

<rpy2.robjects.vectors.DataFrame object at 0x7fe8cee2e880> [RTYPES.VECSXP]
R classes: ('tbl_df', 'tbl', 'data.frame')
[ListSexpV..., ListSexpV..., ListSexpV..., ListSexpV..., ..., StrSexpVe..., StrSexpVe..., StrSexpVe..., StrSexpVe...]
<rpy2.robjects.vectors.DataFrame object at 0x7fe8cee2e880> [RTYPES.VECSXP]
R classes: ('tbl_df', 'tbl', 'data.frame')
[ListSexpV..., ListSexpV..., ListSexpV..., ListSexpV..., ..., StrSexpVe..., StrSexpVe..., StrSexpVe..., StrSexpVe...]
<rpy2.robjects.vectors.DataFrame object at 0x7fe8cee2e880> [RTYPES.VECSXP]
R classes: ('tbl_df', 'tbl', 'data.frame')
[ListSexpV..., ListSexpV..., ListSexpV..., ListSexpV..., ..., StrSexpVe..., StrSexpVe..., StrSexpVe..., StrSexpVe...]
<rpy2.robjects.vectors.DataFrame object at 0x7fe8cee2e880> [RTYPES.VECSXP]
R classes: ('tbl_df', 'tbl', 'data.frame')
[ListSexpV..., ListSexpV..., ListSexpV..., ListSexpV..., ..., StrSexpVe..., StrSexpVe..., StrSexpVe..., StrSexpVe...]
<rpy2.robjects.vectors.DataFrame object at 0x7fe8cee2e880> [RTYPES.VECSXP]
R classes: ('tbl_df', 'tbl', 'data.frame')
[ListSexpV..., ListSexpV..., ListSexpV..., ListSexpV..., ..., StrSexpVe..., StrSexpVe..., StrSexpVe..., StrSexpVe...]
...
  NASH001: <class 'rpy2.robjects.vectors.StrVector'>
  <rpy2.robjects.vectors.StrVector object at 0x7fe8d21b4ac0> [RTYPES.STRSXP]
R classes: ('character',)
[NA_character_, '0.24..., '0.10..., NA_character_, '0.01..., '0.03...]
  NASH002: <class 'rpy2.robjects.vectors.StrVector'>
  <rpy2.robjects.vectors.StrVector object at 0x7fe8d21d6a80> [RTYPES.STRSXP]
R classes: ('character',)
[NA_character_, '0.25..., '0.05..., '0.00..., '0.01..., '0.00...]
  NASH003: <class 'rpy2.robjects.vectors.StrVector'>
  <rpy2.robjects.vectors.StrVector object at 0x7fe8d21d6b40> [RTYPES.STRSXP]
R classes: ('character',)
[NA_character_, '0.03..., '0.08..., NA_character_, '0.00..., '0.00...]
  NASH004: <class 'rpy2.robjects.vectors.StrVector'>
  <rpy2.robjects.vectors.StrVector object at 0x7fe8babc1080> [RTYPES.STRSXP]
R classes: ('character',)
[NA_character_, '0.05..., '0.10..., NA_character_, '0.01..., '0.01...]

In [4]:
robjects.r['is.data.frame'](data_1)
#print(type(data_1))

<rpy2.robjects.vectors.BoolVector object at 0x7fe8babc2a40> [RTYPES.LGLSXP]
R classes: ('logical',)
[       1]

In [5]:
data_1_as = data_1.rx2("analysis_summary")

In [6]:
unique_data_1_as = robjects.r["unique"](data_1_as)

In [7]:
print(unique_data_1_as)

[[1]]
[1] "Core G Fatty acids/Eicosanoids"

[[2]]
[1] "Core J Sterols"

[[3]]
[1] "Core K Prenols/Cardiolipins"

[[4]]
[1] "Core E Neutral Lipids"

[[5]]
[1] "Core I Sphingolipids"

[[6]]
[1] "Core H Phospholipids"

In [8]:
metadata = robjects.r['getmwstudies']('ST000915', 
    'factors'
)

In [9]:
robjects.r['head'](metadata)

<rpy2.robjects.vectors.DataFrame object at 0x7fe8babced40> [RTYPES.VECSXP]
R classes: ('data.frame',)
[ListSex..., ListSex..., ListSex..., ListSex..., StrSexp...]
  study_id: <class 'rpy2.rinterface.ListSexpVector'>
  <rpy2.rinterface.ListSexpVector object at 0x7fe8babce940> [RTYPES.VECSXP]
  local_sample_id: <class 'rpy2.rinterface.ListSexpVector'>
  <rpy2.rinterface.ListSexpVector object at 0x7fe8babceec0> [RTYPES.VECSXP]
  subject_type: <class 'rpy2.rinterface.ListSexpVector'>
  <rpy2.rinterface.ListSexpVector object at 0x7fe8babd3240> [RTYPES.VECSXP]
  factors: <class 'rpy2.rinterface.ListSexpVector'>
  <rpy2.rinterface.ListSexpVector object at 0x7fe8babd33c0> [RTYPES.VECSXP]
  Diagnosis: <class 'rpy2.rinterface_lib.sexp.StrSexpVector'>
  <rpy2.rinterface_lib.sexp.StrSexpVector object at 0x7fe8babd3540> [RTYPES.STRSXP]

Find the factors you would want to compare
Multiple factors (independent variables) are formatted in multiple columns but you can get information on all the factors by "factors" column, such as 'TreatmentGroup:Prednisolone', this indicates column name 'TreatmentGroup' with factor Prednisolone. For t-test use the factors in the same column. For comparing multipe independent variables use anova by anova_ana function.

### Associate metabolomics data to the refmet class

In [10]:
refmet_class = robjects.r['convert_refmet'](data_1)

In [11]:
robjects.r['head'](refmet_class)

<rpy2.robjects.vectors.DataFrame object at 0x7fe8babd6c80> [RTYPES.VECSXP]
R classes: ('data.frame',)
[StrSexpVe..., ListSexpV..., ListSexpV..., ListSexpV..., ..., StrSexpVe..., StrSexpVe..., StrSexpVe..., StrSexpVe...]
  metabolite_name: <class 'rpy2.robjects.vectors.StrVector'>
  <rpy2.robjects.vectors.StrVector object at 0x7fe8babd6e80> [RTYPES.STRSXP]
R classes: ('character',)
['1,2-..., '1,2-..., '1,2-..., '1,2-..., '1,2-..., '1,2-...]
<rpy2.robjects.vectors.DataFrame object at 0x7fe8babd6c80> [RTYPES.VECSXP]
R classes: ('data.frame',)
[StrSexpVe..., ListSexpV..., ListSexpV..., ListSexpV..., ..., StrSexpVe..., StrSexpVe..., StrSexpVe..., StrSexpVe...]
<rpy2.robjects.vectors.DataFrame object at 0x7fe8babd6c80> [RTYPES.VECSXP]
R classes: ('data.frame',)
[StrSexpVe..., ListSexpV..., ListSexpV..., ListSexpV..., ..., StrSexpVe..., StrSexpVe..., StrSexpVe..., StrSexpVe...]
<rpy2.robjects.vectors.DataFrame object at 0x7fe8babd6c80> [RTYPES.VECSXP]
R classes: ('data.frame',)
[StrSexpVe..., ListSexpV..., ListSexpV..., ListSexpV..., ..., StrSexpVe..., StrSexpVe..., StrSexpVe..., StrSexpVe...]
...
  NASH001: <class 'rpy2.robjects.vectors.StrVector'>
  <rpy2.robjects.vectors.StrVector object at 0x7fe8babd7780> [RTYPES.STRSXP]
R classes: ('character',)
['C33H..., 'C33H..., 'C35H..., 'C35H..., 'C35H..., 'C35H...]
  NASH002: <class 'rpy2.robjects.vectors.StrVector'>
  <rpy2.robjects.vectors.StrVector object at 0x7fe8babd6ec0> [RTYPES.STRSXP]
R classes: ('character',)
['Glyc..., 'Glyc..., 'Glyc..., 'Glyc..., 'Glyc..., 'Glyc...]
  NASH003: <class 'rpy2.robjects.vectors.StrVector'>
  <rpy2.robjects.vectors.StrVector object at 0x7fe8babd6540> [RTYPES.STRSXP]
R classes: ('character',)
['Dira..., 'Dira..., 'Dira..., 'Dira..., 'Dira..., 'Dira...]
  NASH004: <class 'rpy2.robjects.vectors.StrVector'>
  <rpy2.robjects.vectors.StrVector object at 0x7fe8babd6d80> [RTYPES.STRSXP]
R classes: ('character',)
['DAG', 'DAG', 'DAG', 'DAG', 'DAG', 'DAG']

### Find significant metabolites, run significance of all the analysis summary together. The analysis summary/modes you got in the previous section

There is a normalization step which takes into account missing values, and this can be achieved via three methods:

1) half_of_min: where the NAs are replaced by half of min values in the data

2) remove_NAs: where Cols with NAs values are removed

3) 50percent: where cols with more than 50% NAs values are removed

half_of_min is ideal when you wish to see which metabolites were present in either group. Very high fold change would mean it was present in either group.

In [12]:
#need to change to float
robjects.r['print']('0.05')

[1]

 "0.05"

<rpy2.robjects.vectors.StrVector object at 0x7fe8babce240> [RTYPES.STRSXP]
R classes: ('character',)
['0.05']

In [13]:
thres_log2foldchange = '0.5'
thres_log2foldchange = float(thres_log2foldchange)
thres_log2foldchange

0.5

In [14]:
robjects.r["significant_met"](metabolomics_data=refmet_class, met_col="metabolite_name",analysis_type=c("Core G Fatty acids/Eicosanoids","Core J Sterols","Core K Prenols/Cardiolipins","Core E Neutral Lipids","Core I Sphingolipids","Core H Phospholipids"), metadata=metadata, factor1='Cirrhosis', factor2=c('Normal'), factor_col='Diagnosis',sample_col='local_sample_id', p_adjust='fdr',normalization="50percent")

NameError: name 'c' is not defined

In [ ]:
thres_log2foldchange_countclass = '0.5'
thres_log2foldchange_countclass = float(thres_log2foldchange_countclass)
thres_log2foldchange_countclass

In [ ]:
sigmets = 3
sigmets

In [ ]:
x_size_heat = 8
x_size_heat

In [ ]:
y_size_heat = 6
y_size_heat

In [ ]:
x_size_dot = 8
x_size_dot

In [ ]:
y_size_dot = 6
y_size_dot